<div class="space-y-4">
        {{ range .Pages -}}
            <div class="bg-white card max-auto rounded shadow-lg">
                <div class="px-6 py-4 whitespace-normal">
                    <a href="{{ .RelPermalink }}">
                        <h2 class="font-bold text-2xl mb-2">{{ .Title }}</h2>
                    </a>
                    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "02 Jan 2006" }}</time>
                    <p class="text-gray-700 text-base">
                        {{ .Content }}
                    </p>
                </div>
                <div class="px-6 py-4">
                    {{ with .Params.tags }}
                        {{ range .}}
                            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#{{.}}</span>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{- end }}
</div>
